.header{

    background-color: #282c34;
    color: #ddd;
    text-align: center;
    padding: 1em;
    box-shadow: 1px 1px 4px #222;
    text-shadow: 1px 1px 1px #222;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}